parameters:
    # The code of the default language used by the application ('en' = English)
    locale: fr

    # List of supported languages
    languages: [en, de, fr]

    # Supported languages as regex (for the routing configuration
    routing_languages: "(en|de|fr)"

    # The 'secret' value is a random string of characters used by Symfony to
    # to add more entropy to security related operations.
    # see: http://symfony.com/doc/current/reference/configuration/framework.html#secret
    env(SYMFONY_SECRET): 'secret_value_for_symfony_demo_application'

    # Destination for log files; can also be "php://stderr" etc
    env(SYMFONY_LOG): '%kernel.logs_dir%/%kernel.environment%.log'

    # If you don't use a real mail server, you can send emails via your Gmail account.
    # see http://symfony.com/doc/current/cookbook/email/gmail.html
    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    # Database configuration
    database_driver:   pdo_mysql
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     passwordManager
    database_user:     root
    database_password: ~
